.table__item {
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

@media(max-width:923px) {
    .table__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 40px;
    }
}