.video__subtitle {
    position: absolute;
    top: 86%;
    left: 5%;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 15px;
    color: #FFFFFF;
    z-index: 1;
}

@media(max-width:900px) {
    .video__subtitle {
        top: 82%;
    }
}

@media(max-width:700px) {
    .video__subtitle {
        top: 80%;
    }
}