.video__container {
    max-width: 1184px;
    margin: 72px auto 200px;
    display: grid;
    grid-template-rows: repeat(2, 100%);
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    grid-gap: 1%;
}

@media(max-width:1024px) {
    .video__container {
        margin: 72px 2% 0px 2%;
        display: grid;
        grid-template-rows: repeat(2, 100%);
        grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
        grid-gap: 2%;
    }
}

@media(max-width:608px) {
    .video__container {
        display: block;
    }
}